/*=============== PROJECTS ===============*/
.projects{
   background-color: var(--black-color);

   & .section__title{
      color: var(--white-color);
   }
   &__container{
      padding-block: 1.5rem 3rem;
   }
   &__card{
      background-color: var(--container-color);
      border: 2px solid transparent;
      background-clip: content-box;
      transition: border-color .4s;

      &:hover{
         border-color: var(--first-color);
      }
   }
   &__data{
      padding: 1.5rem 1rem 3rem;
   }
   &__title{
      font-size: var(--h2-font-size);
      margin-block: .5rem;
   }
   &__date{
      display: block;
      font-weight: var(--font-medium);
      color: var(--title-color);
      margin-bottom: 1.5rem;
   }
}
